<nav>
  <% if (user) { %>
  <h1><a href="/">Title</a></h1>
  <a href="/products/new">Sell items</a>
  <a href="/products">Browse items</a>
  <a href="/carts">Cart</a>
  <a href="/categories">Browse by Categories</a>
  <a href="/auth/sign-out">Sign out</a>
  <a href="/auth/profile">Profile</a>
  <% } else { %>
  <h1><a href="/">Title</a></h1>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
  <% } %>
</nav>
