<h1>Products in <%= category.name %></h1>

<ul>
  <% products.forEach(product => { %>
  <li>
    <a href="/products/<%= product._id %>"><%= product.name %></a> -  <%=
    product.price %> BD
  </li>
  <% }) %>
</ul>
